extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-3.col-md-offset-4
				h1.text-center.login-title Sign in to Real Time Product Inspector
				a(href='/login/facebook', class='btn btn-block btn-social btn-facebook') Login with Facebook
					i(class='fa fa-facebook')
				a(href='/login/google', class='btn btn-block btn-social btn-google-plus') Login with Google
					i(class='fa fa-google-plus')
